. {
    box-sizing: border-box;
  }
  
  .flex-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .flex-item-left {
    padding: 0px;
    flex: 80%;
  }
  
  .flex-item-right {
    padding: 0px;
    flex: 20%;
  }
  